<form action='/submit' method='GET'>
    First Name:<input type='text' name='firstname'>
    Last Name:<input type='text' name='lastname'>
    <input type='submit' value='Submit Get'>
</form>

<form action='/post' method='POST'>
    First Name:<input type='text' name='firstname'>
    Last Name:<input type='text' name='lastname'>
    <input type='submit' value='Submit Post'>
</form>

<form action='/post' method='POST' enctype='multipart/form-data'>
    First Name:<input type='text' name='firstname'>
    Last Name:<input type='text' name='lastname'>
    <input type='submit' value='Submit multi Post'>
</form>